<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fuelapp">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Localhost internet access -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FuelApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".PreHome"
            android:exported="false" />
        <activity
            android:name=".ShedView"
            android:exported="false" />
        <activity
            android:name=".AddTime"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".ShedOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".OwnerAddDiesel"
            android:exported="false" />
        <activity
            android:name=".StationOwnerSignUp"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".OwnerAddPetrol"
            android:exported="false" />
        <activity
            android:name=".UserSignupActivity"
            android:exported="false" />
        <activity
            android:name=".GetStarted"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>